<div class='header'>
  <div class='center-align col s12 m2'>      
    <h1 class="z-depth-3">Rock Paper Scissors</h1>
  </div>
</div>

<div id='direction'>
  <h3> Typical Rock Paper Scissors game, click an image to play</h3>

  <h3 id='comp_choice'> </h3>
  <h3 id='winner'> </h3>
</div>

<div class='row center-align responsive-img container'>

  <div class='player_choice col s2'>
    <%= image_tag('rock.jpg', class: 'rock', id:'rock') %>
  </div>

  <div class='player_choice col s2'>
    <%= image_tag('paper.jpg', class: 'paper', id:'paper') %>
  </div>

  <div class='player_choice col s2'>
    <%= image_tag('scissors.jpg', class: 'scissors', id:'scissors') %>
  </div>

  <div class='player_choice col s2'>
    <%= image_tag('lizard.jpg', class: 'lizard', id:'lizard') %>
  </div>

  <div class='player_choice col s2'>
    <%= image_tag('spock.jpg', class: 'spock', id:'spock') %>
  </div>
</div>



    